.our-collection-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 48px;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.3s ease-in-out, transform 0.8s ease-in-out;
}
.our-collection-section.show{
    transform: translateY(0);
    opacity: 1;
}
.collection-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.collection-sec-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.instagram-btn{
    border: none;
    padding: 20px;
    background: #4c2764;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(247, 30, 214, 1) 63%, rgba(253, 29, 29, 1) 98%, rgba(219, 20, 179, 1) 100%);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.instagram-btn:hover{
    transform: translateY(-6px);
}
.collection-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.card{
    position: relative;
    height: 750px;
    width: 650px;
    transition: border 0.3s ease;
    border: 4px solid transparent;
}
.card img{
    height: 100%;
    width: 100%;
}
.card:hover{
    border:  4px solid oklch(.656 .241 354.308);
}
.card:hover button{
    color: oklch(.656 .241 354.308);
}
.post-info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.likes , .comments{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.card:hover .post-info{
    opacity: 1;
} 
.img-wrap{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.about-us-img{
    object-fit: cover;
}
.collection-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    bottom: 50px;
    left: 50px;
    gap: 10px;
}
.collection-info p {
    color: white;
}
.collection-info button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.arrow-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.arrow {
  display: inline-block;
  animation: arrow-move 1s infinite ease-in-out;
}

@keyframes arrow-move {
  0% { transform: translateX(0); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}


@media (max-width: 768px) {
        .collection-cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .card{
            width: 100%;
        }
}