.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    
    .footer-section{
        height: auto;
        padding: 48px;
    }
}