*{
    box-sizing: border-box;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vignette {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle, rgba(0,0,0,0) 20%, rgba(0,0,0,0.7) 100%);
}
.video-wrapper-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-wrapper-content h3{
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 30px;
}
.video-wrapper-content p {
    color: white;
    width: max-content;
}
.video-wrapper-content button{
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    font-size: 20px;
    background-color: white;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 2px;
    margin-top: 30px;
}

.video-wrapper-content button:hover{
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}