.why-to-choose-us-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 48px;
    gap: 50px;
}
.why-to-choose-us-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-title{
    color: oklch(.656 .241 354.308);
    font-size: 400px;
    letter-spacing: 5px;
    font-size: 50px;
}
.reasons{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 40px;
}
.reason{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid rgb(46, 45, 45);
    height: 300px;
    width: 350px;
    padding: 20px;
    background-color: rgba(72, 69, 73, 0.1);
    font-size: 20px;
    gap: 20px;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
}
.reason:hover{
    transform: scale(1.1);
    border: 1px solid oklch(.656 .241 354.308);
}
.icon{
    padding: 15px;
    border-radius: 50%;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(247, 30, 214, 1) 63%, rgba(222, 9, 133, 1) 75%, rgba(219, 20, 179, 1) 100%);
}

@media (max-width: 768px) {
    .why-to-choose-us-section{
        height: auto;
    }
    .header-title{
        font-size: 40px;
        letter-spacing: 0px;
    }
    .reasons{
        flex-direction: column;
        justify-content: center;
    }
    
}